body{
    background-color: #7C8C03;
}

img{
display: block;
margin: auto;
width: 50%;
border-radius: 20px;
}

a{
    color: #BF6B04;
}

a:hover{
    color: black;
    text-decoration: underline;
}

#container{
    background-color: #BFA004;
    width: 65%;
    margin: 20px auto;
    border: 4px solid #BF6B04;
    padding: 15px;
    border-radius: 25px;
}

header{
    text-align: center;
    text-shadow: 3px 3px 3px #BF6B04;
    padding: 20px;
    border-bottom: 2px solid black;
}

header h1{
    font-size: 60px;
    color: black;
}

nav{
    text-align: center;
     border-bottom: 2px solid black; 
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav li a{
    display: block;
    background-color: #7C8C03;
    color: #BF6B04;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 2px 2px 5px #7C8C03;
}

nav li a:hover{
    color: #BFA004;
    background-color: black;
}

main h2{
    text-align: center;
    text-shadow: 3px 3px 3px #7C8C03;
    font-size: 40px;
    color: black;
}

main h3{
    text-align: center;
    text-shadow: 2px 2px 2px #7C8C03;
    font-size: 25px;
    color: black;
}

p{
    text-align: center;
}

footer{
    text-align: right;
    text-shadow: 2px 2px 2px #7C8C03;
    font-size: 15px;
}

.responsive{
    width: 50%;
    height: auto;   
}

.multi_col{
    display: flex;
}

section, aside{
    border-radius: 20px;
    border: 2px solid #7C8C03;
    margin: 10px;
    padding: 10px;
}

hr{
    border: 5px solid #BF6B04;
}

section{
    width: 60%;
}

aside{
    width: 40%
}
